* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  font-size: 150px;
  position: relative;
}

.item::before {
  position: absolute;
  font-size: 150px;
  color: red;
  content: "item";
}

.item::after {
  font-size: 50px;
  color: green;
  content: "End";
}

.item:hover::before {
  color: blue;
}

.hinh {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("img.jpg");
  background-size: cover;
}

.hinh:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("img1.jpg");
}